<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>점주내역</title>
    <link rel="stylesheet" href="resources/bootstrap/css/bootstrap.min.css">
    
    
    <link rel="stylesheet" href="resources/jumju_order/jumju_order_fonts/font-awesome.min.css">
    <link rel="stylesheet" href="resources/jumju_order/jumju_order_css/Sidebar-1.css">
    <link rel="stylesheet" href="resources/jumju_order/jumju_order_css/Sidebar.css">
    <link rel="stylesheet" href="resources/jumju_order/jumju_order_css/styles.css">
</head>

<body>
<div class="container-fluid">
<div class="row">
<div id="sidebar-main" class="sidebar sidebar-default sidebar-separate  col-md-3">
    <div class="sidebar-category sidebar-default" style="height:1000px; width:80%" >
        <div class="category-title">
            <span>메뉴</span>
        </div>
        <div class="category-content">
            <ul id="fruits-nav" class="nav flex-column">
              <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fa fa-pencil" aria-hidden="true"></i> 전체
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fa fa-pencil" aria-hidden="true"></i> 피자
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fa fa-pencil" aria-hidden="true"></i> 치킨
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fa fa-pencil" aria-hidden="true"></i> 분식
                    </a>
                </li>
                 <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fa fa-pencil" aria-hidden="true"></i> 보쌈/족발
                    </a>
                </li>
                 <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fa fa-pencil" aria-hidden="true"></i> 카페/디저트
                    </a>
                </li>
                 <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fa fa-pencil" aria-hidden="true"></i> 일식
                    </a>
                </li>
                 <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fa fa-pencil" aria-hidden="true"></i> 한식
                    </a>
                </li>
                 <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fa fa-pencil" aria-hidden="true"></i> 중식
                    </a>
                </li>

            </ul>
        </div>
    </div>
</div>
<div class="col-md-8">

<div class="row" style="border:1px solid; margin-top:45px">
<div class="col-5" style="margin-top:20px">
<label style="border-bottom:1px solid">등록번호/날짜</label><br/>
<label style="border-bottom:1px solid">주문자/위치</label><br/>
<label style="border-bottom:1px solid">주문내역 및 합계</label>
</div>
<div class="col-md-6" style="margin-top:20px">
<button class="circle1" id="deliver">배 송 </button> <button class="circle1" id="delivering">배송중</button><button class="circle1" id="delivered">배송완료</button>
</div>

</div>
</div>


</div>
</div>
    <script src="resources/bootstrap/js/jquery.min.js"></script>
    <script src="jumju_assets/js/jumju.js"></script>
    <script src="resources/bootstrap/js/bootstrap.min.js"></script>

</body>

</html>